* {
  box-sizing: border-box;
}
#container {
  max-width: 960px;
  margin: 0;
  background-color: gray;
  overflow: auto;
}
#header {
  background-color: orange;
  width: 100%;
}
#content img {
  float: right;
  margin: 0 0 1em 1em;
}
#nav {
  background-color: green;
}
#nav li {
  display: inline;
  list-style-type: none;
}
#content {
  background-color: blue;
  width: 75%;
  padding: 10px;
  float:left;
}
#sidebar {
  background-color: aqua;
  width: 25%;
  padding: 10px;
  float:left;
}
